<p class="text-white text-center mt-5 timer" id="timer">
</p>
<div class="d-block-flex mx-auto mt-5 container text-center">
  <div class="current-spell d-inline-flex p-2 gap-4 text-center">
    <div class="cspell-img"></div>
    <div class="text-white my-auto mx-auto" id="cspell-text"></div>
  </div>
</div>
<button class=" text-white d-block mx-auto mt-5 p-1 start-btn" onclick="loadContent('./components/startgame.html'); resetTimer()">
  Restart
</button>
<div class="container d-flex my-5">
  <div class="mx-auto d-inline-flex gap-4">
    <div class="sphere"></div>
    <div class="sphere"></div>
    <div class="sphere"></div>
  </div>
</div>
<div class="container d-flex my-4">
  <div class="mx-auto d-inline-flex gap-3">
    <div class="spell-bar-item" text="q" data-img="/images/spheres/quas.png"></div>
    <div class="spell-bar-item" text="w" data-img="./images/spheres/wex.png"></div>
    <div class="spell-bar-item" text="e" data-img="./images/spheres/exort.png"></div>
    <div class="spell-bar-item" text="d"></div>
    <div class="spell-bar-item" text="f"></div>
    <div class="spell-bar-item" text="r" data-img="./images/spheres/invoke.png"></div>
  </div>
</div>