<div class="text-center text-white">invoker game <br> by edelweizse</div>
  <img class="d-block mx-auto invoker img-fluid mt-2" src="../images/invoker_prepod.png">
  <button class=" text-white d-block mx-auto mt-5 p-1 start-btn" onclick="loadContent('./components/game.html', initializeTimer)">
    Start Game
  </button>
  <div class="container d-flex my-5">
    <div class="mx-auto d-inline-flex gap-4">
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
    </div>
  </div>
  <div class="container d-flex mb-4">
  <div class="mx-auto d-inline-flex gap-3">
    <div class="spell-bar-item" text="q" data-img="../images/spheres/quas.png"></div>
    <div class="spell-bar-item" text="w" data-img="../images/spheres/wex.png"></div>
    <div class="spell-bar-item" text="e" data-img="../images/spheres/exort.png"></div>
    <div class="spell-bar-item" text="d"></div>
    <div class="spell-bar-item" text="f"></div>
    <div class="spell-bar-item" text="r" data-img="../images/spheres/invoke.png"></div>
  </div>
</div>