@font-face {
  font-family: 'Trajan Bold';
  src: url('../Trajan Bold.ttf') format('truetype');
}

body {
  font-family: 'Trajan Bold', sans-serif !important;
  font-size: 24px !important;
  background-image: url('../images/Mid_Lane_16x9.webp');
  background-size: cover;
  background-position: center;
  height: 811px;
}

nav{
  font-size: 30px;
}

nav > div {
  background-color: black; 
  border-radius: 0 0 25px 25px;
  opacity: 0.99;
}

.header {
  font-size: 30px !important;
}

.container {
  background-color: black;
  border-radius: 25px;
  opacity: 0.99;
}

.text {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

.controls {
  background-color: black;
  border-radius: 50px;
  opacity: 0.85;
}

.controls > * {
  opacity: 100% !important;
}

.spells {
  background-color: black;
  border-radius: 50px;
  opacity: 0.85;
}

.game {
  background-color: black;
  border-radius: 50px;
  opacity: 0.99;
}

.spell-bar-item {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background: #6A2B72;
  position: relative;
  background-size: cover;
  background-position: center;
}

.spell-bar-item::before {
  content: attr(text);
  position: absolute;
  top: 0;
  left: 75%;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 20px;
}

.ctrl-text {
  font-size: 18px !important;
  margin-bottom: 1.6rem;
}

.ctrl-bar-item {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background: #6A2B72;
  position: relative;
  background-size: cover;
  background-position: center;
}

.ctrl-bar-item::before {
  content: attr(text);
  position: absolute;
  top: 0;
  left: 75%;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 20px;
}


.spells-item {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #6A2B72;
  position: relative;
  background-size: cover;
  background-position: center;
}

.spells-text {
  font-size: 18px !important;
  margin-bottom: 0.8rem;
}

.dislike {
  width: 180px;
}

.like {
  width: 320px;
}

.gif {
  border-radius: 15px;
}